{% extends "header.html" %} 

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="row g-4">
        {% for store in stores %}
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">{{ store.name }}</h3>
              <p class="card-text">{{ store.phone }}</p>
              <p class="card-text">{{ store.address }}</p>
              <a href="{{ url_for('customers_bp.tables', store_id=store.id) }}" class="btn btn-primary stretched-link">選擇座位</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
