{% extends "header.html" %} 

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('stores_bp.index') }}">Stores</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tables</li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <a href="{{ url_for('tables_bp.new', store_id=store_id) }}" class="btn btn-info">新增餐桌</a>
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">桌號</th>
            <th scope="col">狀態</th>
            <th scope="col">清單</th>
            <th scope="col">編輯</th>
          </tr>
        </thead>
        <tbody>
          {% for table in tables %}
          <tr data-table-id="{{ table.id }}">
            <td scope="row">{{ table.name }}</td>
            <td scope="row" id="tableStatus">{{ table.status.value }}</td>
            <td scope="row">
              <a href="{{ url_for('orders_bp.new', table_id=table.id) }}" class="btn btn-info" role="button" aria-disabled="true" id="link">連結</a>
              <a href="{{ url_for('tables_bp.clear', id=table.id) }}" class="btn btn-danger disabled" role="button" aria-disabled="true" id="clear">清空</a>
            </td>
            <td>
              <a href="{{ url_for('tables_bp.edit', id=table.id) }}" class="btn btn-info">修改</a>
              <a href="{{ url_for('tables_bp.delete', id=table.id) }}" class="btn btn-danger" onclick="return confirm('確定刪除該餐桌？')">刪除</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row mt-5">
        <div class="col-12">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script type="module" src="{{ url_for('tables_bp.static', filename='/js/order_list.js') }}"></script>
{% endblock %}
